<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GLSLhelper" version="0.3.59" targetFramework="net48" />
  <package id="OpenTK.NetStandard" version="1.0.4" targetFramework="net48" />
  <package id="Sprache" version="2.3.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
</packages>