<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GLSLhelper" version="0.1.5" targetFramework="net461" />
  <package id="OpenTK.NetStandard" version="1.0.4" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
</packages>